@import url("https://fonts.googleapis.com/css?family=Hind+Guntur|Open+Sans&display=swap");

header {
  font-family: "Hind Guntur", sans-serif;
  text-align: left;
  margin-left: 15px;
}

article {
  font-family: "Open Sans", sans-serif;
  width: 85%;
  margin: auto;
  text-align: center;
}

#text {
  font-size: 1.3em;
}
#author {
  font-style: italic;
  font-size: 1.2em;
  margin: 20px 0 20px 20%;
}

#author::before {
  content: "- ";
}

.action {
  text-align: center;
}
button {
  margin: 0 20px 0 20px;
}

#tweet-quote {
  position: relative;
  min-width: 200px;
}

.icon {
  position: absolute;
  height: 25px;
}

.button {
  border: solid 1px darkgrey;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 0.8em;
}
@media only screen and (min-width: 900px) {
}
