@import url("https://fonts.googleapis.com/css?family=Hind+Guntur|Open+Sans&display=swap");

:root {
  --strong-border: 3px solid #4e6e58;
}

body {
  background-color: #d5ede9;
}

header {
  font-family: "Hind Guntur", sans-serif;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
}

h1 {
  margin: 10px 0 0 0;
}

main {
  font-family: "Open Sans", sans-serif;
  width: 85%;
  margin: auto;
  text-align: center;
  display: grid;
}

#text {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px dashed #544b3d;
  border-left: var(--strong-border);
}

#author {
  margin-top: 5px;
  font-style: italic;
}

#author::before {
  content: "- ";
}

.action {
  justify-self: end;
  margin-top: 20px;
}

button {
  margin-left: 10px;
}

.icon {
  height: 25px;
  cursor: pointer;
}

button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

footer {
  width: 80%;
  margin: 40px auto auto auto;
  font-size: 0.65em;
  text-align: center;
}

footer a {
  color: #000;
}

@media only screen and (min-width: 576px) {
  #text {
    padding: 20px;
  }

  #author {
    padding-left: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .action {
    margin-top: 0;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 992px) {
  main {
    grid-template-columns: 50px auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "actions quote" "actions author";
  }

  .action {
    grid-area: actions;
    margin-right: 20px;
  }

  button {
    margin-left: 0;
  }

  .icon {
    margin-top: 20px;
  }
  #text {
    grid-area: quote;
  }

  #author {
    grid-area: author;
    border-left: var(--strong-border);
    margin-top: 0;
  }
}
